[2019-04-07 13:06] lourenci opened #16 "Add card in the lane"

[2019-04-07 14:50] lourenci opened #17 "Add keyboard and mobile instructions on readme"

[2019-04-07 14:51] lourenci opened #18 "Add card in lane"
It would be nice if we could add a new card in the lane. It would be nicer if we could allow to choose between add in the top of the lane or in the bottom of it.

[2019-04-07 14:52] lourenci opened #19 "Drag a lane"

[2019-04-07 14:53] lourenci opened #20 "Remove a card"

[2019-04-07 14:53] lourenci opened #21 "Add capability to render a own card"

[2019-04-07 14:54] lourenci opened #22 "Remove a lane"

[2019-04-07 14:54] lourenci opened #23 "Change lane title"

[2019-04-08 11:25] lourenci opened #24 "Allow the component be controlled?"

[2019-04-13 14:19] #19 closed

[2019-04-14 22:09] #21 closed

[2019-04-15 16:01] #23 closed

[2019-04-16 00:42] lourenci opened #36 "Add a lane"

[2019-04-20 12:03] #36 closed

[2019-07-26 00:19] #22 closed

[2019-08-22 21:11] guilopes22 opened #92 "Full copy?"
lol

even the readme have you copied from @lucasbesen repo?

https://github.com/lucasbesen/react-kanban-dnd

[2019-08-22 22:38] lourenci commented on #92
Honestly, I don't remember. I tried to use a lot of kanban like libs, but they're very limited for my purpose.

I really don't understand the problem here. Isn't that repo under MIT licence?

Feel free to use any of them, anyway you want.

[2019-08-22 22:38] #92 closed

[2019-08-22 22:44] lourenci commented on #92
Sorry, I haven't catch that you are talking about the entire repo. I was thinking about the README.

Even I could copy and do "whatever" I want (MIT) with that repo, there is no copy here, the code is mine all the way. :)
One of the purpose with this repo is to having fun. Copy is not fun.

[2019-08-29 16:18] mathesouza commented on #17
Mobile instructions?

[2019-08-29 16:36] lourenci opened #97 "Fix lane height and scroll to see the cards"
Today, the lane has the height to fit all the cards in the screen.

What about if we have a prop to change this behaviour? We could support 3 kinds of lanes:
* A lane that fit the screen height and scroll the cards.
* A lane that fit a specified height and scroll the cards.
* The default (today) behaviour.

[2019-08-29 20:07] lourenci commented on #97
Today, the lane has the height to fit all the cards in the screen.

What about if we have a prop to change this behaviour? We could support 3 kinds of lanes:
* A lane that fit the screen height and scroll the cards.
* A lane that fit the a specified height and scroll the cards.
* The default (today) behaviour.

[2019-08-30 20:10] #20 closed

[2019-09-11 12:17] lourenci opened #115 "Create demo to show all the props usage"
Add demo for:

* [ ] Board without any configuration
* [ ] Board with permission to remove the lanes
* [ ] Board with permission to add new lanes
* [ ] Board with permission to remove a card
* [ ] Board with permission to rename a lane
* [ ] Board without permission to drag lanes
* [ ] Board without permission to drag cards
* [ ] Board with a custom lane header
* [ ] Board with a custom lane adder

[2019-09-13 17:54] mathesouza commented on #115
You could break into more issues
Maybe something to control the examples progress...
What do you think?

[2019-09-13 18:45] lourenci commented on #115
We could create tasks on this issue.

[2019-09-14 19:22] GLuchtenberg commented on #97
I've a question about this feature...
Seems like you're talking about the board, not the lane, is that correct?

[2019-09-15 14:34] lourenci commented on #97
Hi, @GLuchtenberg. Yes, this behaviour is for all the lanes, thus to the board.

[2019-09-18 23:06] GLuchtenberg commented on #97
For me, it seems like the kanban board should always fit the container height... Have props to add behaviour on height seems like having more responsibilities than it should

[2019-09-19 20:35] lourenci commented on #97
You've a point.

If the user wants to apply a fixed height to the board, how could it apply the scroll to the lane?

[2019-09-20 23:30] GLuchtenberg commented on #97
I'll try to do this in a PR...

I'll probably follow something like add inline-flex to the board and remove lane 100% height so it will try to fill all parent height and if it can't, will add an scroll bar to the lane

[2019-09-25 16:40] dougfabris commented on #115
@lourenci You'll create tasks? I would like to work on that!

[2019-09-25 17:41] lourenci commented on #115
@dougfabris, yes. I'll create the tasks as soon as possible along with the docz PR.

[2019-09-27 00:21] lourenci opened #137 "Configure docz or Storybook"
It'll kick off the #115.

[2019-09-27 15:47] lourenci opened #138 "Expose a function in the lane bag to allow the user to add a new card"
When the user chooses for implement your own custom lane header, it could want to add a new card in the uncontrolled board.

[2019-09-27 16:10] mkamranhamid commented on #18
I would like to take this issue but I would like little more explanation of this issue before taking it

[2019-09-27 20:43] lourenci commented on #18
I'm not sure about the layout yet. But, I think we could use a "adder" like that one used to add a lane.

We could use a card adder placeholder either on the top of the lane or on the bottom of it depending of some prop like `addCardOn='top|bottom'`. On click, the "adder' would ask for a title or a description.

Do you have any ideia?

[2019-09-27 21:16] lourenci opened #140 "Remove the need of the callbacks"
When the user removes a lane, the board calls for the `onLaneRemove` callback whether it is informed or not.
it doesn't make sense when the user remove a lane through the custom lane header template. The developer is being forced to pass a `noop` function in these cases.
It should be optional even when the board is using the default lane header template.

The same is happening to the other callbac

[2019-09-27 21:19] lourenci opened #141 "How could we allow the developer to style the board?"

[2019-09-27 22:12] #138 closed

[2019-09-27 23:37] haichuan0424 commented on #140
Hi, I’d like to work on this issue.

[2019-09-28 00:08] lourenci commented on #18
Hi, @mkamranhamid. I've merged a PR #135 that will help on this issue.

[2019-09-28 00:22] mathesouza commented on #137
I'll take this one :)

[2019-09-28 11:14] mkamranhamid commented on #18
![image](https://user-images.githubusercontent.com/11710104/65815573-9c385a80-e20a-11e9-9018-368a24617224.png)
The add button will be permanent or user can use it using prop `renderLaneHeader`. I was able to achieve this with prop `addCardOn='top|bottom'` and `renderLaneHeader`.

[2019-09-28 12:55] lourenci commented on #18
This PR solves the need to add a card without using the `renderLaneHeader`.

I think we can do what we do with the lane adding feature:
* The user needs to pass an `allowAddCard`.
* If the user want, it can pass a prop to control where on the lane the card will be added (default to bottom) through `addCardOn='top|bottom`.

As for the layout, what do you think about to create [something like the ad

[2019-09-28 16:55] mkamranhamid commented on #18
So basically this is what I'm going to do
* show an add sign/symbol next to `x` if a user passes a prop `allowAddCard`.
* on pressing add sign will show a form (just like now we show a form for lane addition).
* on pressing confirm will call `onCardAdd` from the board

[2019-09-28 17:51] lourenci commented on #18
I think you might have a problem with the new card id. You can use the same strategy used to add a new lane. I've plans to change this in the future.

[2019-09-28 17:53] lourenci commented on #18
Don't forget to use the `addCardOn` prop. The `onCardAdd` accepts a third parameter to define the position of the new card.

Thanks.

[2019-09-29 10:05] mkamranhamid commented on #18
![react-kanban-1](https://user-images.githubusercontent.com/11710104/65830463-28a95280-e2c9-11e9-81fd-001330841770.gif)

* For `id`, I used the `length` property of cards
* In `addCard` function we were looking for argument `on` so when passing arguments to `addCard` I put `addCardOn` value in `on` so that everything works as it's

This is my first open source contribution so apologies for asking

[2019-09-29 14:02] lourenci commented on #18
I think this is not the best strategy to generate the `id` for a new card:
* If you remove a card and add a new one, doing this again and again with other cards, a lot of cards will have the same id. I think it would break the react `key`.
* In the majority of the cases, the card will be saved to a backend. Probably, it's easier to the developer to get an `id` from the backend and keep track the c

[2019-09-29 17:02] mkamranhamid commented on #18
I looked at the lane feature and it's using a callback [function](https://github.com/lourenci/react-kanban#onlanenew) `onLaneNew` which returns the object with its `id` from a user and then this id is used later on.
should I do the same for cards? We have a `onCardNew` method for cards we can use that.
For the design, we can make a circle around `+` sign so that it's differentiable and not messed

[2019-09-29 17:44] lourenci commented on #18
I think you should do the same for the cards.

I cannot visualize the `+` working well here. We could try it if you want.

[2019-09-30 15:57] mkamranhamid commented on #18
![image](https://user-images.githubusercontent.com/11710104/65895335-be75d800-e3c4-11e9-8ca4-c1190a4b6d18.png)
We can do it something like this if it looks good or a button with text "adder"?

[2019-09-30 16:13] lourenci commented on #18
Could you please send me a screenshot with the `allowRemoveLane`?

[2019-09-30 16:44] mkamranhamid commented on #18
![image](https://user-images.githubusercontent.com/11710104/65898572-4a8afe00-e3cb-11e9-8537-5d679816a547.png)
Sorry for taking long I was not able to import the styled component turns out it was a typo

[2019-09-30 23:22] lourenci commented on #18
What do you think about a button like this:

![image](https://user-images.githubusercontent.com/2339362/65923598-df87fa00-e3bf-11e9-985e-9004b72445f2.png)

[2019-10-01 00:39] GLuchtenberg commented on #141
Well, we can have something like "laneClasses", but that seems pretty ugly, maybe having a @flow or typescript type, and give the users the capabilities to pass a Lane Component to the board, what do you think?

[2019-10-01 00:39] GLuchtenberg commented on #24
more info please

[2019-10-01 02:54] mkamranhamid commented on #18
Can you make another issue for the redesigning of lane and it's actions I'll take it

[2019-10-01 14:39] lourenci commented on #24
Hi, @GLuchtenberg. It's about the board being either [controlled and or not controlled](https://reactjs.org/docs/forms.html#controlled-components).

I prefer to handle this myself. I'm a heavy user of this board in a private project and I know some "pains" and how to handle them. Sorry for that.

[2019-10-01 21:00] #137 closed

[2019-10-02 09:32] MaheshKonne commented on #97
Cypress tests are failing, I'm unable to create a PR for this.

[2019-10-02 18:38] mkamranhamid commented on #18
![image](https://user-images.githubusercontent.com/11710104/66071958-8cec4080-e56d-11e9-8c18-da05bae8073f.png)
I'm getting this error when running command `npm test`. Can anyone help me out?

[2019-10-07 03:21] MaheshKonne commented on #97
@lourenci I'm planning to support these values height:"auto"/"500px". Any suggestions on height props?

[2019-10-08 17:47] prateekchachra opened #164 "Not clear how to add a new lane"
Can you please make it clear how to add the new lane by default? I'm having trouble trying to figure it out.

[2019-10-08 17:52] #164 closed

[2019-10-08 17:52] prateekchachra commented on #164
Figured it out. Please mention in the docs that adding the listeners is compoulsory for these to work.

[2019-10-14 12:41] lourenci commented on #97
Go ahead with that.

[2019-10-25 04:54] MaheshKonne commented on #97
@lourenci I've updated the PR with height props.

[2019-11-12 12:37] bofeiw opened #178 "Bug: when id is 0, unexpected issues occur"
When assigning 0 as id to a lane, i observed  at least these unexpected issues:
- after drag complete, the orders of lanes might change
- after drag complete to another lane, the card might remains at the original lane

For example, modifying line 10 of the demo in readme:

https://codesandbox.io/s/react-kanban-demo-mfulg

[code]

[2019-11-12 12:40] bofeiw commented on #178
It is not a big issue, but when you use some id generators like https://www.npmjs.com/package/increment-generator , it is extremely annoying because the first number it returns is 0.

It took me quite some time to spot the bug.
Hope it can be resolved, or at least warn users  not to use 0 as id cos it'll save users's time

[2019-11-12 12:56] bofeiw commented on #141
My workaround is to write vanilla css and import it.
If you inspect the element, you will find that these lanes and card have same classes.
For example I'm building a scheduler based on this library and need to style it nicely.
Here are some of the css that works for me:

*Note class names might be different from machine to machine bcause the class names look like very random*

[code]

[2019-11-12 13:08] bofeiw commented on #24
I think it is better to provide some *optinal* APIs like `getBoard` and `setBoard` bcos it is useful to have.

[2019-11-12 13:16] bofeiw opened #179 "Not fully compatible with CSS grid"
Hi,

Thanks for creating this project, it is amazing!

I am building a scheduler based on this, and I am using CSS grid to style it.
And I found that if you make a particular lane wider than other lanes, you couldn't drag the card from that wide lane to some other lanes.

For example:

<img width="1177" alt="Screen Shot 2019-11-13 at 12 11 56 am" src="https://user-images.githubusercontent.com/3417

[2019-11-12 13:48] bofeiw commented on #179
One temporary workaround is to add `width: fit-content` to every cards

[2019-11-15 20:28] lourenci commented on #178
Hi, @bofeiw. Thanks for the feedback. I'll look at this soon.

[2019-11-15 20:48] FryDerm opened #184 "Lane Styling"
Is there a way to make the lanes all be as tall as the one with the most cards in it?

[2019-11-15 22:01] lourenci commented on #184
Hi, @FryDerm.

For the time being, we don't have any prop to configure this. We have some issues on the roadmap to allow a better way to configure styles for the board.

For now, what you can do is override the board styles. Can you try to put a `height` on the lane's parent?

[2019-11-15 22:04] lourenci commented on #18
Hi, @mkamranhamid. Sorry for the delay. Do you need some help here yet?

[2019-11-16 02:59] mkamranhamid commented on #18
Yes I got busy at work and wasn't able to work on it If it's possible can you please take a look [here](https://github.com/mkamranhamid/react-kanban)

[2019-11-16 03:54] bofeiw commented on #184
A workaround is to add css to it.

My way to add css is to find the class names it uses and style it in a separate .css file

https://github.com/lourenci/react-kanban/issues/141#issuecomment-552881770

[2019-11-17 15:14] #24 closed

[2019-11-18 00:23] lourenci commented on #178
Hi, @bofeiw. I think this is not an issue in the most recent version of the lib. Could you update it and verify it? I've tested in the version released today (0.15.0) and it seems ok.

[2019-11-18 09:14] bofeiw commented on #178
It still does not work with 0.15.0 here: https://codesandbox.io/s/react-kanban-demo-mfulg

Here is what i got:
https://streamable.com/to1vx

[2019-11-18 13:58] lourenci commented on #178
@bofeiw, in the 0.15 version, `children` was renamed to `initialBoard` for the uncontrolled board. Can you change that prop and test it again?

[2019-11-18 17:56] bofeiw commented on #178
It appears that the issue is solved in 0.15, thanks

[2019-11-18 17:56] #178 closed

[2019-11-18 20:39] lourenci commented on #18
Hi, @mkamranhamid. You changed the `addCard` to rely on the return of `onCardNew` callback. In the specs, your `onCardNew` (line 675) is returning nothing. Check the specs for the `addLane` callback (line 302), it's the same strategy.

I really recommend you to merge your branch with the master, there are a lot of changes there. You might have some conflicts.

[2019-11-20 06:36] mkamranhamid commented on #18
Synced my fork and found that things have been changed a lot. Resolving the conflicts and will let you know if I get any blocker

[2019-11-29 13:42] FryDerm commented on #184
The CSS class names appear to be mostly gibberish.  Will they stay the same all the time, or are they randomly generated?

[2019-11-29 15:05] bofeiw commented on #184
From my experience of using it over the past month, the gibberish class names did not change over time nor on different environments

[2019-11-29 17:23] lourenci commented on #184
@FryDerm from the time being, you can use this workaround. But, we have plans to support this in a proper way soon.

[2019-11-29 17:25] lourenci commented on #184
We'll keep track of this in #141.

[2019-11-29 17:25] #184 closed

[2019-11-29 19:06] FryDerm commented on #184
I've noticed other people's "random" class names match mine, so I'll go with it for now.  As far as having all lanes be 100% height, the following works for me:

`.sc-VigVT {
    min-height: 100%;
}

.sc-jTzLTM {
    height: 100%;
    display: inline-table;
}

.sc-htpNat {
    height: 100%;
    width: 380px;
}

.sc-bxivhb {
    height: 100%;
}`

[2019-12-01 03:57] mkamranhamid commented on #18
merged the repo but there are few test errors

[2019-12-04 00:17] lourenci commented on #18
Hi, @mkamranhamid. Let me know if you need some help here. We need to check this off to release the 1.0.0 version.

[2019-12-04 07:48] Kalaschnik opened #192 "Column Lane Terminology Mixup"
Hey,
I’m comparing different React-Javascript-based Kanban boards. I noticed that your data model uses the term "lane" to actually describe a column. I noticed the same wrong terminology in a similar project (i.e., react-trello), where I reported that confusing mix up a year ago:
https://github.com/rcdexta/react-trello/issues/126

Out of curiosity, why do you chose that naming scheme?

[2019-12-04 15:57] lourenci commented on #192
Hi, @Kalaschnik.

I think you are right. The lane term used here can mix up with the kanban's "right" terminology. I'll manage that for the `v1` release, this will be a good break change.

For your curiosity, this project was inspired heavily by `rcdexta/react-trello` lib, most because I was using it in a private project. The `lane` name came from there.

[2019-12-04 16:10] lourenci opened #193 "Rename `lane` to `columns`"
The users could mix the `lane` name up with the `swimlane` term used in kanban board as pointed out in #192.

[2019-12-04 16:11] #192 closed

[2019-12-19 07:45] mkamranhamid commented on #18
I'm not able to pass `tests`. I've pushed the code if anyone wants to start from there

[2020-01-13 18:02] MatheusPoliCamilo opened #198 "Add card on the return of the onCardDragEnd callback"
Change the onCardDragEnd callback on controlled and uncontrolled board to return the moved card too.

[2020-01-14 20:05] #198 closed

[2020-01-31 21:08] cstroked opened #229 "Card Drag: Uncaught TypeError: Cannot read property 'cards' of undefined"
Hi,

I'm running into an issue where I'm getting the following:
`Uncaught TypeError: Cannot read property 'cards' of undefined`
Here's my board
[code]

And my drag handler:
[code]
It seems to be related to line 23 in `src/components/Board/services/index.js`
[code]
The compiled code:
[code]

Has anyone run into this or what I am missing? I currently can't even get it a `console.log` to log the func

[2020-01-31 22:20] lourenci commented on #229
Hi, @cstroked. Could you please reproduce your problem in a codesandbox? You can use this template: https://codesandbox.io/s/5k7py44kl.

I'm interested in the shape of your `board`.

[2020-02-01 02:17] cstroked commented on #229
Hey @lourenci thanks for getting back to me. Sorry I forgot to mention this, you've created a tremendous library!

Here's my demo: https://codesandbox.io/s/react-kanban-demo-b5r6t

Please let me know what I've screwed up here. I can't seem to figure it out!

Thank you.

[2020-02-01 02:31] cstroked commented on #229
This seems to be related to using a non-integer (in my case, using a uuid) as the id for a lane.

[2020-02-01 08:26] shd101wyy commented on #229
Yeah I encountered the same issue. I am also using uuid as id instead of integer.

[2020-02-01 08:29] shd101wyy opened #230 "Is it possible to provide APIs to customize the style of the board?"
Hi there,

First of all, thank you very much for your awesome work!
Is it possible to provide APIs so that we can customize the style of the board, just like how [rcdexta/react-trello did](https://github.com/rcdexta/react-trello#styling-and-customization here).
I basically want to change the background color of the lanes.

Thank you!

[2020-02-01 09:07] shd101wyy commented on #230
Also would be awesome if we can modify the lane footer component.

[2020-02-01 18:49] #229 closed

[2020-02-01 18:57] lourenci commented on #229
Thanks for the report. There is a new version published with this correction.

[2020-02-01 19:09] lourenci commented on #230
Hi, @shd101wyy.

We don't provide an API to change the board's styles straightforward, though you can do that overriding the generated styles through CSS (maybe you need some `!important`).

However, we have an issue already tracking this (#141) and as soon as possible that issue will be resolved. I'll put that on the v1 roadmap.

Thanks for the report.

[2020-02-01 19:09] #230 closed

[2020-02-05 11:28] lourenci opened #237 "Remove styled-components in favor of "native" solutions"
`styled-components` was good for having fun (one of the project's purpose), but it goes against another project's purpose that is being pluggable. When using this lib with another lib on a project that that is using `styled-components` too, it could conflict, since the `styled-components` ask for being a peer dependency and the other lib could be asking for a different version of the `styled-compo

[2020-02-09 19:00] #193 closed

[2020-02-11 15:52] ericrdn opened #257 "Include declaration types for projects using TypeScript"
On use project in react typescript i am give error, why does not exists types declaration.

Is possible includes the Types in this project?

Could not find a declaration file for module '@lourenci/react-kanban'. 'C:/Projetos/kanban/node_modules/@lourenci/react-kanban/dist/index.js' implicitly has an 'any' type.
  Try `npm install @types/lourenci__react-kanban` if it exists or add a new declaration

[2020-02-11 16:48] mathesouza commented on #257
I'll work on it ;)

[2020-02-13 11:44] MatheusPoliCamilo opened #260 "Fix the column style while renaming when there are no cards"
The columns got bigger when editing their name, I solved the height on the project board in which I work and that uses this lib, but I would like to correct it in the lib itself, what do you think? I can also change the default column header to adjust the width issue if necessary.

![Captura de tela de 2020-02-13 08-35-11](https://user-images.githubusercontent.com/25781749/74430973-c0ed4180-4e3c-1

[2020-02-13 12:05] lourenci commented on #260
Please, go ahead.

[2020-02-26 23:55] nalex88 opened #273 "How to override Column style"
Hi i'am Alessandro,
first thanks for your great job with react-kanban.

i need to override the column style, there is the way for this?
How i can use styled-components or vanilla css via className?

thanks for your reply

Ale

[2020-02-27 11:48] lourenci commented on #273
Hi, @nalex88. Thanks to reach out to us.

We don't have a straightforward way to do that yet. We're working on #141 to provide that.
For the time being, you can override the [gibberish ones generated by the lib](https://github.com/lourenci/react-kanban/issues/141#issuecomment-552881770).

[2020-02-29 00:43] #273 closed

[2020-03-03 01:21] mathesouza commented on #257
It's harder than i thought it would be :(

[2020-03-05 13:06] MatheusPoliCamilo commented on #140
Can i take this one?

[2020-03-05 13:25] lourenci commented on #140
@haichuan0424, do you have plans to solve that? Can I assign this to @mathesouza?

[2020-03-05 13:26] mathesouza commented on #140
@lourenci no, you can't

[2020-03-05 13:27] lourenci commented on #140
Sorry, I did mean @MatheusPoliCamilo.

[2020-03-05 13:30] lourenci commented on #18
It was solved by #209.

[2020-03-05 13:30] #18 closed

[2020-03-10 05:22] pnixnoel opened #289 "Disable Drag events on specific Cards and Columns"

[2020-03-11 21:46] lourenci commented on #289
Hi, @pnixnoel.

What are you trying to solve with that?

I can't imagine this working. We could prevent a card to be moved, but what if the user moves another card on top of it in its column? The card will be moved anyway...

Can you detail your use case?

[2020-03-11 21:59] pnixnoel commented on #289
I have a scenario where the cards might be created by another user and they should not be moved to another column.

I have understood what you are trying to say about changing the order of the cards.

But if I have a onDragStart event which returns null on specific cards Which should solve my problem this.

[2020-03-12 13:28] lourenci commented on #289
I'll let this open to thinking better about that. Feel free to open a PR and implement a proof of concept for that.

[2020-03-12 13:30] pnixnoel commented on #289
Thanks, Will let you know this weekend :)

[2020-03-23 12:34] dimakrsna opened #300 "Dragging a card to any part of the column"
Hi, thanks for the nice plugin!
I had a problem with dragging a card to any part of the column, can this be fixed somehow?
![issue](https://user-images.githubusercontent.com/19911335/77317173-5e2c7700-6d13-11ea-8a42-c822241181dd.gif)

[2020-03-27 19:19] s-mahdi opened #305 "Add new column in uncontrolled board"
Hey. I am trying to use the default button to add a new column on the **uncontrolled** board. as mentioned in the [documentation](https://github.com/lourenci/react-kanban#onnewcolumnconfirm) I used `onNewColumnConfirm` prop to do so. I'm trying to do this like this:
[code]
but it doesn't add any column. am I did something wrong?
also I'm using **typescript**.
**dependencies**:
"react": "^16.13.1"

[2020-03-29 23:22] lourenci commented on #300
Hi, @dimakrsna.

I’m out for now, but have you tried to increase the column's height?

[2020-03-30 07:09] lourenci commented on #305
Hi, @smmh1376.

Could you please make a codesandox example with your code?

Thanks.

[2020-04-01 19:06] mathesouza commented on #97
How is this issue going? @GLuchtenberg

[2020-04-03 18:05] dimakrsna commented on #300
Column increase did not help :(

[2020-04-03 18:49] iIdiomatic opened #311 "No default GUI rendered on allowAddColumn & allowAddCard"
I am using version - 1.1.0
As can be seen in screen shot below I see no component rendered for add column or add cards by default, though custom rendering is working. Is this behavior expected? Or is a bug?

[code]

Data is also from example -

[code]

![image](https://user-images.githubusercontent.com/50513642/78394707-bb74d200-7609-11ea-9f7d-d5ad18b65cac.png)

Note - rename and close components

[2020-04-03 18:55] iIdiomatic opened #312 "How to edit card?"
Did I missed something in doc?
I found no document explaining how to edit card data, and neither proper GUI handling for same.

Is it not there at all?

[2020-04-05 11:32] VipPhilstar opened #313 "Remove card"
The documentation says that onCardRemove accepts parameters (board, column, card), but in reality only card is transmitted

[2020-04-05 14:54] iIdiomatic commented on #311
I believe documentation needs to be corrected.
As definition my board is uncontrolled board, in that case "onColumnNew" should not be called as per documentation. But given error if you don't specify.
[code]

Above highlighted part is needed to get default widget working properly for new column.

[2020-04-15 07:06] iIdiomatic commented on #313
yes true - noticed same, also parameters are different when using controlled and uncontrolled board

[2020-04-15 07:09] iIdiomatic commented on #305
@s-mahdi  Hope you using "allowAddColumn" property as well. Code is working for me.

[2020-04-15 07:10] iIdiomatic commented on #312
Seems like enhancement as there is no documentation for same. I can submit pull request but there is huge problems in build

[2020-04-15 07:42] iIdiomatic opened #319 "Build not working with dependencies - 1.1.0"
I get this below error -

Though I have solved it through changing versions of few lib, but I don't understand is how a tagged build released to NPM is not working ?

[2020-04-16 11:49] lourenci commented on #319
Hi, @iIdiomatic.

When does this error happen? On `yarn add`?
What libs do you have to change the version for?
Did you have added the `styled-component` as a dependency of your project?

This is an odd behavior since I have this version running in a production system. Including our demo on [codesandbox](https://codesandbox.io/s/5k7py44kl?fontsize=14).

[2020-04-16 19:57] lourenci commented on #313
Sorry about that. I'll open an issue to tidy up the documentation.

In a controlled board: it just receives the removed card because you have all the board in your hand, it does not make sense to pass all the board through the callback.

In an uncontrolled board: it receives the modified board, the modified column and the removed card.

[2020-04-16 19:57] #313 closed

[2020-04-16 19:58] lourenci opened #320 "Tidy the documentation up"
Some callbacks receive different props depending on the type of board.

See #313 for an example.

[2020-04-17 09:31] iIdiomatic commented on #319
@lourenci

It happens on yarn start, my build platform is windows.

List of changes: (as currently I don't have access to machine that I was working on I am writing this from what I could recall)

1. I need to remove semantic-release as it doesn't work on windows. (Ideally should not break anything at-least for running).
2. I copied dependencies from your latest master branch to make it start..
3.

[2020-04-17 09:35] #311 closed

[2020-04-17 11:13] lourenci commented on #319
Thanks for the response, @iIdiomatic.

I haven't tried to build the lib on a Windows machine, I'll try to this as soon as possible to figure out that build problems.

In a Linux machine, this is very odd. To run the e2e tests on CI we have to build it before. We don't have any problems with Linux on Github Actions nor Travis CI, both are ubuntu, I think...

[2020-04-17 11:20] lourenci commented on #319
Are you trying to use it as a dependency? You shouldn't have any problem using it as a dependency since the lib and its dependencies are bundled all the way.

[2020-04-17 11:43] iIdiomatic commented on #319
Yes it don't have any issue if I directly use it from npm. But when I try to build from source it ends up in error of memo-one, in the bundle only.

I set optimize:false for bundler to debug as source code, from where I got to know on memo-one creating issue which in-turn throws error invalid react-hook call.

 I believe there is some minor version mismatch that creating this issue, as you not usi

[2020-04-21 16:30] MilesHart opened #327 "Filtering on card props"
What is the prefered way to filter on card properties?

I can map over the columns and then filter on card props, however filter will return an array of columns and not a native array of json objects.

Any best ways to approach this?

[2020-04-24 11:06] Sabrinovsky commented on #327
I don't know if I understood your problem correctly :/

Can you share some example?

[2020-04-24 11:12] Sabrinovsky commented on #312
We still dont suport the card edit, it would be a good feature and we appreciate if you do the PR.

Are you having trouble building the project?

[2020-04-24 11:29] Sabrinovsky commented on #141
@lourenci Shouldn't this issue be closed?

[2020-04-24 13:44] lourenci commented on #141
This gonna be closed as soon as the branch `beta` gets merged.

[2020-04-24 13:51] Sabrinovsky commented on #319
@iIdiomatic if i clone your project https://github.com/coreui/coreui-react and try to install this lib, the error should pops up?

I can do some tests here

[2020-04-24 14:07] iIdiomatic commented on #319
That's so nice, yes please download source code of 1.1.0 and build it. Please use it as local dependency through "file://" to reproduce issue. As I mentioned, direct inclusion from NPM is working.

[2020-04-25 11:02] krzysztofsaw opened #332 "add something below all cards in column"
I think it would be a good idea to add something like "bottom header". For example, I want to add a button to add a new card or some information

[2020-04-29 23:24] tiagostutz commented on #237
Is this issue still opened? I noticed that it was supposed to be closed at the PR #278 merge but the merge has happened and the issue is still opened.

Does this issue needs any help?

[2020-04-30 00:04] lourenci commented on #237
Hi, @tiagostutz.

The reason for this issue being opened is because the PR was only merged into the `beta` branch. This issue is going to be closed as soon as the beta gets merged into the `master` branch.

I'm planning to merge this as soon as I get enough feedback about the CSS API exposed there.

You can try it through the beta release (`yarn add @lourenci/react-kanban@beta`). [Here the docs fo

[2020-05-01 02:59] Sabrinovsky commented on #319
@iIdiomatic I download it, added the kanban locally and them npm start. The demo project worked just fine, but i cant import the package:  Can't resolve '@lourenci/react-kanban' in...
I dont know why this error since the project was installed and validated by npm install.
I dont know what else we can do :/

[2020-05-01 14:48] Sabrinovsky commented on #300
@dimakrsna i found out why the column sizing was not working. I created a PR #338 that fix that.

If you dont want till it is merged, you can change the css of the div that are wrapping the cards.
This codesanbox has the workaround https://codesandbox.io/s/react-kanban-demo-9x93d?file=/src/index.js if you want to check it out :)

let me know if you have any question, hope you enjoy the lib

[2020-05-01 17:24] dimakrsna commented on #300
@Sabrinovsky Thanks for the response to the issue.

[2020-05-02 20:42] #300 closed

[2020-05-02 22:55] Sabrinovsky commented on #332
Hi @krzysztofsaw
You mean something like the custom column header we got, but on the bottom side of the column?

https://github.com/lourenci/react-kanban#rendercolumnheader

[2020-05-02 23:17] Sabrinovsky commented on #179
@bofeiw i'm sorry for not answering you before... Nice that you could workaround that. I also dont know what's really happening there.

We are working on a beta version that removes styled-components and makes easier to style the board. You can check it out here: https://github.com/lourenci/react-kanban/tree/beta
In this versino you can style the whole board by yourself not importing our css, this

[2020-05-02 23:20] Sabrinovsky commented on #300
@dimakrsna in the codesanbox i manually wrote the code we just merged in the master, so you could copy it. The fixed version should be deployed soon.

By the way, you styled the board very nice xD
I'll try to write some css just like you did for our demo

[2020-05-04 17:00] MilesHart commented on #327
hey thanks, I think I managed it, I used a straight up filter, in the end and had to map through the columns.

Thank you

[2020-05-04 17:00] #327 closed

[2020-05-04 17:06] MilesHart opened #341 "cardRemove issues"
I've create an end column as a "delete" column to drag cards to.

The "delete" column has a id of 9999 and in the move event I'm capturing this.

I'm supplying the board, source column (as it hasn't completed the card move) and card object, I'm getting errors.

Uncaught TypeError: Cannot read property 'cards' of undefined

Any ideas?

[2020-05-04 17:08] MilesHart commented on #341
`function handleCardMove (_card, source, destination){
		if (destination.toColumnId === 9999){
			debugger;
			let blah = removeCard(testBoard, source, _card);
			//let updatedBoard2 = removeCard(testBoard, destination, _card)
			//postRemoveCard(_card);
			//setBoard(updatedBoard2);
		}
		else{
			const updatedBoard = moveCard(testBoard, source, destination);
			setBoard(updatedBoard);
			postMov

[2020-05-04 21:21] Sabrinovsky commented on #341
@MilesHart can you reproduce this on codesandbox?

[2020-05-16 14:21] acroyear commented on #141
My main concern was scrolling and height-limiting. I'm using this for a drag-n-drop playlist editor (inside a primarily Material-UI app, but with the renderX methods I'm able to keep my material consistency).

I know this beta will hopefully handle this, but if you can't wait for that, here's a temp alternative that's working for me.  Putting the Board inside a wrapping component with .board-space

[2020-05-16 15:39] lourenci commented on #141
Hi, @acroyear. Is it bad for you to change your repo to use the `beta` release? We need some feedback here.

As for the reliability concern, the beta is being released in the same workflow of the main release, so it has specs, code coverage and the same bug fixes of the main release.

[2020-05-16 15:51] acroyear commented on #141
I just didn't know if it was npm-published  yet (now i do).  I see how to install the beta via yarn/npm, so maybe tomorrow I'll pull that in and do it differently.  For now i want to keep moving forward with the mechanics of the project having finally gotten a kanban system that works well (react-trello has quite a few bugs, plus has redux stuck in it as well as mostly react15 code styles).

[2020-05-16 16:38] acroyear opened #351 "Ability to individually control if a card can be dragged"
In my app, I have fixed cards that represent wrappers around the cards that can actually be moved around (e.g., albums, folders, artists).  I'd like to be able to block the dragging action in these case, by having either a property in the card, or a a preDragStart event that I can use to answer yes/no if the card can be moved.

Yes, I know it kind of violates the general trend of the open kanban i

[2020-05-16 16:41] acroyear commented on #312
With a custom renderer, you can add onClick handlers in the various divs to do inline editing or launch popup editors, then commit your data to the model.  At least for a controlled board.  I'm not sure the callbacks and helpers exist for an uncontrolled one.

[2020-05-16 23:12] acroyear commented on #141
not sure if you want this as bugs or feedback here.  I'm still having to do div:first-child stuff right now for the header and the card list portions.

[code]
i don't know if that's because i have my own renderers in the code, but even if i do, it would be nice if the wrapping layer from the library still provide a classname to identify it.

[2020-05-16 23:45] lourenci commented on #141
Yep. We are working on the docs too. [You can find it on the beta branch](https://github.com/lourenci/react-kanban/tree/beta#-styling). Don't forget to read the installation section too, since we are getting rid of `styled-components`, the dependencies has changed a little bit.

I prefer to get your feedback from the `beta` release. Those classes have changed a little bit on that branch.

Thanks f

[2020-05-17 00:27] acroyear commented on #141
oops.  "import '@lourenci/react-kanban/dist/styles.css'" - makes a bit of a difference, that. :D

[2020-05-17 00:47] acroyear commented on #97
On the beta, the behavior still isn't quite doing what Trello does, where the cards can scroll independently and the header remains 'sticky' at the top.

This code will approach that, though you might have better options for constraining the height (along with column and board).  I haven't quite figured out all the flex-stuff needed to make that work.

[code]

but without that constraint, the whol

[2020-05-25 05:20] MilesHart commented on #341
I'm a bit new to react so not 100% on how. If you let me know how to build a dev version of this repo, I can use that and hopefully debug this a little easier?

[2020-05-25 05:39] MilesHart commented on #341
As a bit of context, I have a board with a custom render.

[code]

I have a column far right "Delete", which I use for user to drag cards to so they get deleted.

[code]
The move to a regular column works fine, however the move to 9999 fails in a TypeError: Cannot read property 'cards' of undefined

[2020-05-25 16:22] lourenci commented on #341
Hi, @MilesHart. Thank you for reaching out.

Sorry for that, but can you use this [codesandbox](https://codesandbox.io/s/5k7py44kl?fontsize=14) to try to reproduce your problem? It's hard to understand what is going on without a demo.

[2020-05-26 10:46] deepakmountble commented on #140
hey can you tell us the difference between on lane and column in your library context? because when I go through with documentation onColumnRemove and here onLaneRemove. I am thinking to start this issue.

[2020-05-26 11:00] Sabrinovsky commented on #140
Hi @deepakmountble, it was a mistake we made.
Check this issue, it explain what happened https://github.com/lourenci/react-kanban/issues/192

[2020-05-26 11:42] lourenci commented on #140
@deepakmountble, There is no concept of lane anymore in the lib, we've renamed to column in the issue point out by @Sabrinovsky. If you see that in the docs, sorry for that, It's a mistype, we already have an issue to go through the docs.

[2020-05-26 12:06] deepakmountble commented on #140
should it be resolved because you are saying you have changed the name lane to column so what should i think that **onLaneRemove** is referring to onColumnRemove because i want to solve this issue i want to be clear that  for solving this issue what should i consider because after gone through the  #192  and reading this issue again i am confusing.
can you clear again what should happen for solve

[2020-05-26 12:11] deepakmountble commented on #115
do you mean demo working on code sandbox? or something else. @lourenci

[2020-05-26 18:02] krzysztofsaw commented on #332
Yes, for example, I want to add a button, or icons below all the card in column, on the bottom side of the column

[2020-05-26 20:47] lourenci commented on #140
In the uncontrolled board, the majority of the callbacks are meant for the user to listen to and do whatever they want outside of the board scope. The lib doesn't care at all for those callbacks internally, thus they should be optional.

For now, the lib is throwing an exception if you don't pass those callbacks. You can see in the demo code (on codesanbox) that those callbacks are being passed as

[2020-05-26 20:52] lourenci commented on #115
We don't have any idea of how to document those yet. We started off with the [docz](https://www.docz.site/) lib, but it wasn't straightforward since we've conditional props. Eg. to add a card, you have to pass two props: `allowAddCard` and 'onCardAdd`.

Do you have any idea do discuss?

Thanks.

[2020-05-26 20:53] lourenci commented on #332
I think it's a good idea. I'll add this to the road map.

Thanks.

[2020-05-27 11:56] deepakmountble commented on #140
hey, i am going through the code. trying to understand the what exactly is this issue. on the link of code sandbox in docs on the Github page I found something related to this issue.
onLaneRemove={console.log}
onCardRemove={console.log}
onLaneRename={console.log}
so if i am not wrong **expected behaviour** should be like
<Board
      allowRemoveLane
      allowRenameColumn
      allowRemoveCard

[2020-05-27 15:12] lourenci commented on #140
Hi, @deepakmountble.

Those callbacks should not be necessary, it should be:
`<Board allowRemoveLane allowRenameColumn allowRemoveCard initialBoard={board} />`

In the uncontrolled board, I think the only callbacks necessary are the `onNewColumnConfirm` if you pass the `allowAddColumn` and `onNewCardConfirm` if you pass the `allowAddCard`, since the user has to pass the new IDs.

[2020-05-28 15:27] MatheusPoliCamilo commented on #260
@lourenci Sorry to keep you waiting, what do you think about this resolution? https://github.com/lourenci/react-kanban/pull/358

[2020-05-29 13:08] deepakmountble commented on #140
hey,
@lourenci  i am working on this issue.

[2020-05-30 06:04] anuradhabharti commented on #332
@lourenci I am working on this issue.

[2020-05-30 06:58] anuradhabharti commented on #115
@lourenci What you mean demo? I have a little bit idea about conditional props allowAddCard,onNewCardConfirm etc.but I don't have an idea about onCardAdd.

[2020-05-31 21:26] KyleRAnderson opened #361 "Unable to import the react-kanban components"
I've got a Rails backend React frontend application going, and I needed a Kanban-like board for one of my views. I've got the setup using webpack and additionally am using Typescript to write my frontend code.

I'm trying to get started with this library. I've added `styled-components` as well as the `react-kanban` libraries to my project via `yarn add styled-components @lourenci/react-kanban`. Th

[2020-06-01 12:29] Sabrinovsky commented on #361
Hi, i could not replicate this error in a tsx project. Have you check your tsconfig?
Maybe can you reproduce it on codesandbox?

[2020-06-01 15:35] Sabrinovsky commented on #351
Hi @acroyear , thanks for the ideia!

We'll think about it.

Until then, have you ever tried the [renderColumnHeader](https://github.com/lourenci/react-kanban#rendercolumnheader) ?

You can create your own columnHeader and no need to use a card as wrapper

[2020-06-01 23:20] lourenci commented on #351
Hi, @acroyear. I think your issue is related to this one #289.

We don't have this kind of control over the `onDrag` events. We are built on top of `react-beautiful-dnd` lib, we depend on that lib for that. As soon as they merge this [PR](https://github.com/atlassian/react-beautiful-dnd/pull/1764), we could allow this kind of control.

For the time being, I think we can work on top of the `isDragD

[2020-06-01 23:24] lourenci commented on #351
Sorry, but, are you using the controlled board? If so, you can just do anything on the drag events.

[2020-06-01 23:38] KyleRAnderson commented on #361
Hello. Unfortunately, I'm not able to reproduce the error in a CodeSandbox. I'm really not sure what could be wrong here, other javascript libraries work nicely.

I'll share my TSConfig and the setup steps that I performed in case that's helpful.

`tsconfig.json`
[code]
My typescript declaration file, which I use to tell typescript to ignore that there are no typings in the library:
`decs.d.ts`
[c

[2020-06-02 00:39] Sabrinovsky commented on #361
@KyleRAnderson, i did just liek you said and worked fine for me.
I noticed a little mistake on the Board type i think it should me something like:

`type Board = {
    columns: DndColumn[]
};
`
I did not tested any of the functions or the services you have, but the project builded correctly

Just to you know, i'm working on migrate the lib to typescript. I'm studying it yet, so i cant promisse any

[2020-06-02 10:43] deepakmountble commented on #140
@lourenci  @Sabrinovsky hey guys, I have changed code and make a pull request for the same issue.
there are test cases that are failing in PR the reason for that test cases is removing three callback functions onColumnRemove onColumnRename onCardRemove. I am thinking of removing these test cases. if I am wrong please tell me what should I do next?

[2020-06-03 23:30] MatheusPoliCamilo commented on #140
@deepakmountble I reviewed your changes, could you take a look? @lourenci can you confirm that everything was right?

[2020-06-04 00:57] #141 closed

[2020-06-04 00:57] #237 closed

[2020-06-04 21:57] acroyear commented on #351
well for now, because i'm totally controlled, the item dragged out just pops back into place and i'm able to do the 'copy' (same content, new uuid for the id) to get the behavior I want.  Also, i've reworked the idea and dragging those items is now a valid use-case (e.g., if i drag an album onto a editable playlist, it fetches all the songs from the album and adds them).

been actually very happy

[2020-06-04 22:16] lourenci commented on #351
Thanks for your feedback, @acroyear. I think this kind of feature is well welcome to the lib, since this is not the only issue about that.

Is your app open source? It would be nice if we can see what the community is working on on top of the react-kanban lib.

[2020-06-04 22:26] acroyear commented on #351
It effectively is but it needs a server to talk to.   my usual 'test' server for public demos doesn't support the features that this app is using so i can't really share it as such. i need to stage a new one somewhere.  Here's a screenshot, though.

[Screenshot](https://subfiresuite.com/caps/uploads/big/c52f6e32d2ecb076f5e5d54656c555e1.png)

[2020-06-07 14:40] neowenshun opened #372 "onClick"
i wish to use this kanban board as a list page , is there an api to handle onClick events?

[2020-06-09 23:51] lourenci commented on #372
Hi, @neowenshun.

We don't expose `onClick` events out-of-the-box. You're able to achieve that by using the `renderCard` and `renderColumnHeader` props, though you'll have to render your own templates for that.

[2020-06-10 23:17] lourenci commented on #372
I'll close this issue for now, we don't have plans to support that sooner.

Feel free to reaching out to us again.

Thank you.

[2020-06-10 23:17] #372 closed

[2020-06-22 08:23] wuichen commented on #305
im seeing the same issue. this is my code ```const board = {
  columns: [
    {
      id: 1,
      title: 'Backlog',
      cards: [
        {
          id: 1,
          title: 'Add card',
          description: 'Add capability to add a card in a column',
        },
      ],
    },
    {
      id: 2,
      title: 'Doing',
      cards: [
        {
          id: 2,
          title: 'Drag-n-drop suppo

[2020-06-22 11:43] lourenci commented on #305
Hi, @wuichen.

To allow the user to add a new column in an uncontrolled board, you have to set 3 props:
[code]

Sorry if the documentation does not allow you to understand that, we have an issue to tidy it up.

[2020-06-29 11:40] #361 closed

[2020-06-30 11:58] #305 closed

[2020-07-17 09:33] mkmanuel opened #395 "Allow Conditional Dropping"
Hi all,

react-beautiful-dnd allows conditional dropping based on the prop _type_. This could be easily added to react-kanban as well, such that a type prop can be added to each card and each column. Only Draggables of the same type as the Droppable will work, if the type does not match, then the drop will be cancelled.

this can be used e.g. for:
- have a board with "todo", "in progress", "done".

[2020-07-17 12:34] mkmanuel commented on #395
I implemented this locally, it only needs the new prop type={columnType} in file /Board/components/Column/index.js on line 45.

`            <DroppableColumn droppableId={String(children.id)} type={columnType}>
`
When a card is moved, it can only be dropped in a column with the same _type_ as the column it originated in.

[2020-07-19 13:33] natdev opened #396 "use axios with react-kanban"
please can you help i get columns from a nodejs api but i can't fetch them.

`import React,{Component} from "react";
import Board from '@lourenci/react-kanban'
import '@lourenci/react-kanban/dist/styles.css'
import data from "./data.json";
import axios from "axios";

export default class Kanban extends Component {
    _isMounted = false;
    constructor(props) {
        super(props);

        this

[2020-07-20 09:40] nilabh opened #397 "Does board have a simple onClick callback for each card?"
Any way to achieve click on cards?  Is renderCard the only way?

[2020-07-22 10:48] mkmanuel commented on #395
https://github.com/mkmanuel/react-kanban/tree/allow-cond-dropping

I've yet to implement tests etc., but for controlled boards this simple implementation works perfectly

[2020-07-22 11:34] lourenci commented on #397
Hi, @nilabh. Sorry for the delay.

For the time being, you can just add handlers to the card through the `renderCard` prop.

Is there some specific use case you don't want to use it?

Thanks.

[2020-07-22 22:27] lourenci commented on #395
Hi, @mkmanuel. Sorry for the delay.

I can't see how the API is going to work. I'll wait for the specs to look into your implementation.
It's important that your PR closes #351 and #289, those are our needs for today.

Is this true for other package bundlers besides `webpack`? If so, you have got a point.

[2020-07-22 22:45] lourenci commented on #396
H, @natdev. Sorry for the delay.

You are controlling the board yourself, you need to use the [controlled one](https://github.com/lourenci/react-kanban#-controlled-and-uncontrolled).

TL;DR: use `<Board>{this.state.yourBoard}</Board>`.

[2020-07-22 22:45] #396 closed

[2020-07-23 00:38] nilabh commented on #397
Thanks for the quick revert @lourenci . I'm new to react and this library was quite helpful but somehow renderCard prop is not working for me as expected .. do we have an example of a simple renderCard implementation apart from the part which has to be done in the board component.

[2020-07-23 00:42] lourenci commented on #397
Do you want to make a codesandbox with your code? You can start from [here](https://codesandbox.io/s/react-kanban-demo-nvjp3). I think I can help you out...

[2020-08-04 02:57] idahopotato1 commented on #397
Let's say I add "value" as an attribute to the card

Like the card 1 , 2, 3 here https://codesandbox.io/s/react-kanban-demo-mzjjg

Then, is there anyway to
1. display the value in the card
2. sum up the value of all the cards inside that board
3. update the sum(value) when we move the card or add new card to the board.

Thank you

[2020-08-04 11:51] lourenci commented on #397
Yes, you can use the `renderColumnHeader` callback, though you can only display those data on the column header. It'll receive all the cards of that column, just sum all of them up.

[2020-08-04 11:52] lourenci commented on #397
As for the card, to customize the way you want, you need to use the `renderCard` callback.

[2020-08-08 07:33] thetwosents commented on #332
Definitely. CRMs use that a lot for totals and adding.

[2020-08-17 09:35] MoiseScalzo commented on #257
Any progress on types?

[2020-08-17 10:52] MoiseScalzo opened #399 "Issue on renderColumnHeader - Cannot read property 'renameColumn' of undefined"
Hi,
I encountered this error while working on renderColumnHeader and following the documentation:

**Cannot read property 'renameColumn' of undefined:**

Here a sandbox:
https://codesandbox.io/s/react-kanban-demo-forked-m5097?fontsize=14&hidenavigation=1&theme=dark

[2020-08-17 14:32] Sabrinovsky commented on #257
I'm sorry but i took a break from it.
I can't solve a problem using the dnd with ts, i need to study more ts to get through it.

[2020-08-17 15:42] Sabrinovsky commented on #399
Hi @MoiseScalzo thanks for the feedback

When the board is controlled the columnBag is not passed to the RenderColumnHeader.

We gotta update the docs

[2020-08-17 15:43] MoiseScalzo commented on #399
Hi @Sabrinovsky,
thanks for the answer...

[2020-08-17 15:43] #399 closed

[2020-08-25 15:17] visimo-pranav opened #401 "Allow custom cardAdder"
Thank you people for providing this library.  I think this can be made even better by having the functionality to have custom cardAdder. This cardAdder can be passed as a props similar to renderCard prop.

[2020-08-25 15:54] lourenci commented on #401
Hi, @visimo-pranav. Thanks for the issue.

Would you like to give it a try?

[2020-08-25 15:57] visimo-pranav commented on #401
Sure. I will make new PR when I am done! Awesome work by the way @lourenci  and thanks for replying quickly!

[2020-08-31 10:21] Shaheryar112 opened #402 "Unable to install package"
Hello,
I am using the latest version of React and I want to install your library in my project. However, I am constantly getting this error:

[1/4] Resolving packages...
info There appears to be trouble with your network connection. Retrying...
info There appears to be trouble with your network connection. Retrying...
info There appears to be trouble with your network connection. Retrying...
info

[2020-09-10 07:43] #402 closed

[2020-09-21 16:59] ntudor11 opened #403 "Bugfix: Retrieve data from prop of functional/class component"
When using the both the controlled and uncontrolled board with the hardcoded data, it all works fine.

When trying to replace that with an object retrieved either from ```props``` or ```state```, I get the following error:

[code]

**Even if** the dynamic object has exactly the same structure structure and key naming as the hardcoded one:

[code]

[2020-09-21 17:48] lourenci commented on #403
Can you reproduce your issue in a codesandbox, please? You can use this [template](https://codesandbox.io/s/react-kanban-demo-nvjp3).

[2020-09-21 22:24] ntudor11 commented on #403
I'm using an Express.js server to build an API from a SQLite db, so I would send you a snippet on how the API route looks like:

[code]

Also, the ```ControlledBoard``` function is just as in your example, but tries to fetch the ```board``` from the props. ```console.log(board)``` prints the board properly when called under ```render()``` (I have a class component and ```ControllerBoard``` is boun

[2020-09-24 00:30] luis-antonio-ac commented on #257
Any progress on types?

[2020-09-24 15:51] Sabrinovsky commented on #257
I started it trying to migrate to typescript, i got a little frusted and kind of abandoned it.

[2020-09-24 15:53] Sabrinovsky commented on #257
I'll be back again on the types. I tried to migrate to typescript but it was a little frustating. So typescript will wait now, i'll write the types first.

If anyone want to help with typescript, we appreciate

[2020-09-25 07:16] yafim opened #404 "Columns with different react-kanban-column colors"
Hi,
Any way to render a column with custom background color without overriding react-kanban-column css property?

Something like renderColumnHeader but for the entire frame of the column.

[2020-10-02 00:28] Sabrinovsky commented on #404
We dont have any way to do it now. But it may be a good feature, what do you think @lourenci

[2020-10-28 00:14] lourenci commented on #257
I'm stepping up to this. :)

[2020-11-11 08:09] johnking commented on #115
I am also looking for demo, examples or tutorials on how to use this component.

[2020-11-11 12:41] lourenci commented on #115
We've to tidy our docs up, but I don't have plans to do this until #257 gets merged.

Please, go ahead if someone is willing to create those demos.

[2020-11-20 08:45] NaudyDev opened #424 "why Rendered Card moveCard function only works for last card?"
I am adding dynamic data on on custom card using render card but when i drag first some cards they doesnt work it only moving the last card and the content object also storing the last card data which is something strange for me...

[2020-11-20 11:36] lourenci commented on #424
Do you mind setting an example based on [the demo](https://codesandbox.io/s/react-kanban-demo-nvjp3)?

[2020-11-21 11:49] NaudyDev commented on #424
I am inserting data in boards cards array and when it the data been set in the board and when i try to move the card its picking the last data been added into the cards array no matter which colums card its been add.
....
and ill try to make one example...

[2020-11-21 11:51] NaudyDev commented on #424
I am inserting data in boards cards array and when it the data been set in the board and when i try to move the card its picking the last data been added into the cards array no matter which columns card its been add.
....
and ill try to make one example... but can you check the moveCard() function by just adding the dynamic data in the board...

[2020-11-21 13:57] NaudyDev commented on #424
i have another question to ask to can i limit the height of the columns bcs when the data get increased columns gets stretched with it and it doesn't look good to scroll on it?

[2021-01-09 23:25] iamafasha opened #429 "update state on card drangend"

[2021-01-09 23:25] #429 closed

[2021-01-10 05:35] iamafasha commented on #397
If I use the renderCard, how do I get the column id in the custom card component?

[2021-01-25 14:15] viganzeqiri opened #431 "Rendering too many cards hits the performance"
We have used this library in the company I work, and we had the case were there were more than 2k cards, and without virtualization the performance was broken. So I have created a PR that adds the ability to use virtual lists.

here is the PR, I have opened: https://github.com/lourenci/react-kanban/pull/430

[2021-02-08 09:33] nmarchais commented on #431
I am interested in this PR. Thanks a lot! It's exactly what I need.
Any idea when I can expect a merge?

[2021-02-12 06:35] Valentinishe commented on #431
I am interested in this PR, too))

[2021-03-09 13:42] lolpnon01 commented on #257
Did you solve this?

[2021-04-09 17:26] Judahh opened #432 "ReferenceError: window is not defined"
# When I import the package (in next.js with typescript):
[code]

# I get:
ReferenceError: window is not defined

This error happened while generating the page. Any console logs will be displayed in the terminal window.

# Source
[code]

[2021-04-10 07:44] samuellaycock commented on #432
This is because NextJS will render on the server first, where `window` is not defined. You can use `process.browser` to conditionally render the `Board` component only on the browser.

We use `next/dynamic` (https://nextjs.org/docs/advanced-features/dynamic-import) to lazy load our `Board` component in, you can pass that an `ssr: false` flag to skip the server render and also give it a placeholder

[2021-04-10 07:46] samuellaycock commented on #17
+1

[2021-04-16 17:20] #432 closed

[2021-05-05 21:00] harshajayaweeraXHJ commented on #289
Any solution or workaround for this yet?

[2021-05-07 13:05] vin1891 opened #435 "Problems with drag and drop"
Hello, your kanban is amazing, I’m implementing it in my company and this is the result
![image](https://user-images.githubusercontent.com/40721849/117452984-c986d780-af1a-11eb-862f-8d1f850b7c47.png)

but I have a problem with the scrolling when I drag a card to the right or left the vertical scroll does not move, (I later discovered some look that when I take the overflow: auto that I put in the

[2021-05-10 12:45] GusMartins499 opened #438 "Problem with rename column title"
Hi guys, i'm from Brazil, and i'm not fluent english yet, i'm sorry if i write wrong.

This error, somebody can help me ?

![image](https://user-images.githubusercontent.com/43645525/117660955-24673b80-b174-11eb-88f2-57dfaec0960b.png)

this error is in the demo of react-kanban.
link: https://codesandbox.io/s/react-kanban-demo-nvjp3

[2021-05-10 13:07] GusMartins499 opened #439 "Add card using controled board"
It's possible add card using controled board ?

[2021-05-20 21:48] jrock2004 opened #442 "Card has inline block causing issues with width"
![image](https://user-images.githubusercontent.com/655716/119052980-69207d00-b993-11eb-8fc9-7c67009dfe10.png)

So I am trying to build my own cards but they are not taking up the full width because of the inline block parent. As of now there is not an easy way to target that div to override it myself. Maybe I am missing something?

![image](https://user-images.githubusercontent.com/655716/11905303

[2021-05-21 11:52] Sabrinovsky commented on #442
Hi, you're right. You wont easily overwrite this css.
The problem is here: `<div style={{ display: 'inline-block', whiteSpace: 'normal' }}>{renderCard(isDragging)}</div>`
src/components/Board/components/Column/components/Card/index.js:14

We should remove this css, but i'm not sure if will cause any problems for other users. Or we should let the user overwrite it easily.

I'm kind a busy with coll

[2021-05-21 17:23] GusMartins499 commented on #397
I want get the column id as well

[2021-05-22 03:28] brunomc opened #444 "How to wrap columns"
How to wrap columns when overflow x?

[2021-05-24 21:50] Kyle772 commented on #444
display: flex
flex-wrap: wrap
max-width: 100%

[2021-06-10 00:10] cmacdonnacha commented on #444
Do you mean adding a scoop container inisde a single column?

[2021-06-10 00:12] cmacdonnacha commented on #97
Hey, any progress on this one?

[2021-06-21 13:55] lourenci opened #448 "Repo has been moved to an organization"
Hi, all.

First of all, thank you for using this package and for helping us to make it better.

I've been busy in the last few months, so I couldn't look after it how it deserves. A lot of issues have been raised and I couldn't find time to get around with them.

To deal with it, I've decided to move the package to the organization I've been working for. The package is a core feature of the compan

[2021-07-01 17:53] brunomc commented on #444
When I have a lot of columns, we have a scroll bar. I don't want the scroll bar, I want it to break the line

[2021-07-07 14:59] binterus opened #449 "The column isn't passed to the renderCard callback"
Hi, thank you for your work! This lib looks promising for me.

I ran into a problem with passing the column index to the card component. Why is the column not being passed to the renderCard callback in the case of controlled boards?

`
renderCard={(_column, card, dragging) => {
        if (renderCard) return renderCard(card, { dragging })
`

I wish I could easily obtain the column index when perfo

[2021-07-09 16:30] PeteDuncanson commented on #97
I couldn't see an easy way to change the hardcorded styles on the BoardContainer element that the board uses. I wanted my Board to scroll on the X/Y and take up the full available space on my page minus my header (whihc I have some filters etc in ).

Came up with this hack which might help others, put this in the component that calls the Board component and it should sort it for you:

[code]

[2021-07-12 20:05] PeteDuncanson opened #451 "DefaultColumnHeader still being rendered after a column is added"
I've got a controlled board which has a customer ColumnHeader and ColumnHeaderAdder. These are working fine except that when adding a new column the board seems to revert to the default column header component rather than my custom one. If I refresh the board then the newly added (and persisted) column is rendered properly.

Not sure what I'm missing?

[2021-07-14 22:21] PeteDuncanson commented on #451
Sorted it, problem was in my render logic for the ColumnHeader, seems when the addColumn always returns/sets a title on the column model which I wasn't expecting so it short-circuited a test I had in my component.

Sorted.

[2021-07-14 22:21] #451 closed

[2021-08-13 15:51] nandokferrari commented on #438
same issue here, any progress?

[2021-08-13 17:03] GusMartins499 commented on #438
Yes, but i change all my code, i have some components, i using customColumnHeader

[code]

CustomHeader.jsx
[code]

Dialog Rename
[code]

I'm not sure if you can understand all, but i hope so

[2021-09-01 13:14] nicosh opened #453 "Move inline css to style.css"
I think move [inline css ](https://github.com/asseinfo/react-kanban/blob/fee96a4b6699b327b6622b752c06ce6411977262/src/components/Board/components/Column/index.js#L33) to style.css would make the library more flexible and customizable.
At the moment is really hard to make the board responsive (ex. use flex layout), especially when wrapped in other sections.
There is any particular reason for those

[2021-09-01 13:35] lourenci commented on #453
There is no reason for that. We appreciate PRs solving css issues. Thanks.

@asseinfo/asseinfo, I think we should make a regression test to avoid problems with css changes.

[2021-09-01 15:07] lourenci opened #455 "Configure semantic-release"
Semantic release was under my user. This should be configured to run in the organization scope.

[2021-09-01 15:08] lourenci opened #456 "Configure action to automate the PRs and issues in Asseinfo board"

[2021-09-03 10:27] pavenkostanislav opened #457 "How can include new faces card?"
Hi! Guies!

I create special status-board.
For my task new use card something like this https://v3.material-ui.com/demos/grid-list/#grid-list-with-titlebars

How can I include my component into your card face?

Thank you in advance for your help.

[2021-09-03 12:00] Sabrinovsky commented on #457
You mean a custom styled card? if is it, you can use the [renderCard](https://github.com/asseinfo/react-kanban#rendercard)

[2021-09-08 11:21] Sabrinovsky commented on #439
Now it's not possible, but we should do it.

[2021-09-09 19:46] Sabrinovsky commented on #442
This is being solved soon on https://github.com/asseinfo/react-kanban/issues/453

[2021-09-09 19:46] #442 closed

[2021-09-10 16:34] #455 closed

[2021-09-14 12:41] devqazi opened #459 "Using controlled form of the component with custom subcomponents gives out a react keys warning"
Using the controlled form of the component with custom cards and column header gives out a react keys warning.

Given that the component makes the `id` attribute in `card` and `column` objects, from what I understand it should be using those as keys while rendering list of cards or columns. I tried to look inside the source code of repo but given my skill quickly got lost.

I also supplied the mos

[2021-09-14 13:01] devqazi commented on #449
Yes I second that currently for editing cards I have to do a 2d lookup to modify the card. Also there is no helper function for `updateCard` but there is one for `changeColumn`

IMO this could be much cleaner if I could get the `column.id` within the `renderCard`
[code]

[2021-09-28 07:34] YurySudak opened #461 "Edit cards, disable titles"
Hi!

I like react-kanban. It works on pc and mobile better, than beautiful-dnd and all other dnd.

Could you. please, add 2 new features?
I want to edit cards and to disable titles.

I do not want to use renderCard, but if you will insist, please, add more examples.

Thank you!

[2021-10-29 17:32] gabrielgstein-dev opened #462 "Can't find @types"
Hi!
I'm trying use typescript with it. But when i try install refered type lib "npm i --save-dev @types/asseinfo__react-kanban". Gave me 404 error, not founding the @types pack

![image](https://user-images.githubusercontent.com/9320910/139477998-8aca9c89-9559-4558-ba9d-15030e793f47.png)

[2021-11-06 00:35] joekendal commented on #257
+1 will sponsor $$$

[2021-11-19 09:46] permmy commented on #462
I also need help in this.

[2021-11-30 14:35] #456 closed

[2021-12-02 23:13] fvreb-wwb commented on #459
I am having the same issue as well now. I looked at the source. I'm guessing that it's the DroppableColumn.

/main/src/components/Board/components/Column/index.js Line 45

If I am right we could add the key prop maybe like this?

From
`<DroppableColumn droppableId={String(children.id)}>`

To
`<DroppableColumn key={String(children.id)} droppableId={String(children.id)}>`

I can't figure out how to

[2021-12-15 13:53] agitanggriawan opened #463 "Custom default card adder template"
Hi, is there a way to custom field card template ? i want to add new field such as due date tags.

![image](https://user-images.githubusercontent.com/69161762/146198769-1c85a5fc-4bb9-4a30-b416-cbc76ed9b8c2.png)

[2021-12-28 09:08] gbonaspetti commented on #404
Hi, we use react-kanban on [tracim](https://github.com/tracim/tracim) and we also miss this feature, so I just wanted to leave an "up" comment to increase its priority :smiley:.

[2022-01-12 08:46] cartoonpoet opened #465 "[Question] Can I customize this component?"
Hello.

I would like to customize this component as follows.
Link: https://plankanban.github.io/planka/#/boards/207391868235809799
Is it possible?

[2022-01-22 16:51] danielsum commented on #459
Hi,

I thought it was also something related to the package trying to recompile it at my side without success but actually it was something related to the data update used (the data come from Apollo GraphQl Usequery at my side).

To make it works, I had to add something to prevent the current data to be modified from the outside from a useEffect, useState, redux so it should still 100% controlled

[2022-01-22 20:06] PeteDuncanson opened #466 "How best to test locally when developing on the codebase?"
I've been wanting to get this up and running locally so I can have a play around with doing some development on it and maybe putting in a PR or three.

I can get the demo app up and running but what I would really like is to be able to pull it into my other existing apps to help me test out what the issue is with them. Any pointers on how to make this "importable" to my setup?

[2022-01-23 22:19] PeteDuncanson commented on #459
@fvreb-wwb I had the same issue, having trouble getting it runnable on my machine to test it in my setup (it doesnt seem to do it in the demo page for the repos). Awaiting pointers on how to test it locally https://github.com/asseinfo/react-kanban/issues/466

[2022-02-08 22:09] brunojennrich commented on #459
any news to this error? i have the same...

[2022-02-10 13:24] bhandari-aditya commented on #164
can you please explain here.. how you did that.

[2022-02-13 19:01] seekeramento opened #468 "Determine the draggable regions of a card"
Is there a way to specify which areas of a card are draggable? I have a card that consists of a header and body. I only want to be able to reposition and drag cards using their headers. I do not want the body to be interacted with a draggable area.

I am only able to disable dragging on the entire card using disableCardDrag.

[2022-02-13 19:22] seekeramento commented on #468
OK. For any one reading my question, I found a way/workaround. I set disableCardDrag by default to false. When the mouse is over a draggable region, we set DisableCardDrag to false, and upon the mouse is out, we set it it back to true.

onMouseOver ={(event)=>{
  setDisableCardDrag(false);
}}
onMouseOut ={(event)=>{
  setDisableCardDrag(true);
}}

[2022-02-14 01:18] seekeramento opened #469 "Speed up scrolling while dragging"
When dragging an element off-viewport, either top or bottom, we need to scroll to navigate for the rest column. This works at the moment, but it is too slow. Is there a way to speed it up?

[2022-02-16 23:19] oscar-gallog commented on #257
So? this never happened?

[2022-03-01 12:24] cgtysnpr0 opened #470 "Board doesnt render after when I add new card data to board"
Hello, im trying to fill my datas from an api with useEffect. I see my data in board data but <Board component doesnt render it here is my codes

[code]
What should I do to fix it?

[2022-03-25 14:30] matheuscamarques commented on #462
i need help

[2022-03-26 20:46] dannielum opened #471 "Support to cancel before actually deleting, moving, renaming, etc."
Hi, thanks for your awesome kanban library. Would you be able to add the support to cancel some actions such as delete card, move card, etc.? For example, I would like to be able to cancel deleting a card in the callback function for `onCardRemove`. Maybe we can just return true or false from the callback function to proceed or cancel the action? Thanks.

[2022-04-02 02:32] dannielum commented on #471
I figured that I could achieve this by using controlled board.

[2022-04-02 02:32] #471 closed

[2022-04-02 15:39] dannielum opened #472 "onCardRemove only returns 1 parameter for controlled board"
The documentation suggests that the `onCardRemove` should return 3 parameters:

**onCardRemove**
When the user removes a card, this callback will be called passing these parameters:
board | The board without the removed column
-- | --
column | The column without the removed card
card | The removed card

I noticed that when using a controlled board, it is only returning one parameter (card). Withou

[2022-04-04 07:56] maximelebastard commented on #462
Hello guys, this is because the types don't exist (yet).
Until you or someone else provides them, you can just ignore the typing using ts-ignore:
[code]

[2022-04-08 15:14] PeteDuncanson commented on #466
Couple of months on and there appears to be no movement on this project at all, I'm due to start working on some fixes for this soon but without being able to build it and host it locally I'm worried about if that is time well spent.

I'd like to do quite a few fixes and push back but without being able to test it I can't. Can we have some pointers so we can have a go at least on this wonderful pr

[2022-05-02 13:04] Tiubez commented on #459
Just stumbled on this error right now, it shows up even using the doc's provided example:

`import Board from '@asseinfo/react-kanban'
import '@asseinfo/react-kanban/dist/styles.css'

const board = {
  columns: [
    {
      id: 1,
      title: 'Backlog',
      cards: [
        {
          id: 1,
          title: 'Add card',
          description: 'Add capability to add a card in a column'

[2022-05-11 08:28] MoiseScalzo commented on #459
Same issue here: [example on sandbox](https://codesandbox.io/s/optimistic-hofstadter-svd6wp?file=/src/App.js)

[2022-05-12 06:56] johnykov commented on #361
I'm facing the same issue with this lib and webpacker for rails project, @KyleRAnderson did you solve that issue?

[2022-05-13 02:06] KyleRAnderson commented on #361
Unfortunately not, I worked around it in other ways.

[2022-05-13 21:20] alvaro1728 commented on #459
Just started using this component but this issue worries me. Is there anyone that can figure out how to fix it? I'm happy to update the minified code itself if that's what it takes. Thanks!

[2022-05-15 14:25] monecchi commented on #459
Same issue here on React 18 & react-kanban v ^2.2.0 - The error breaks also breaks the dragging functionality on my set up

[2022-05-19 11:21] alinoureldin707 opened #473 "package is not installed"
Is it supported for react 18?

[2022-06-16 10:30] AlexanderCollins commented on #470
@cgtysnpr0 perhaps try passing `controlledBoard` to the component as a prop i.e. `children={controlledBoard}`.

[2022-06-19 22:37] #260 closed

[2022-07-18 15:50] hgb072082 commented on #444
is solved?

[2022-07-26 08:52] Nnouka opened #474 "I want to be able to add a column footer, renderColumnFooter"

[2022-07-26 08:53] Nnouka commented on #474
Like `renderColumnHeader`

[2022-08-24 23:45] alexchantastic commented on #459
FYI, this breaks the package when using React >=18.0.0.

Things seem to work with React 17.0.x though the warnings are still present.

[2022-08-25 15:57] Sandeep-Tech opened #475 "Unable to add a card to the ControlledBoard with addCard()"
I am using a `ContolledBoard` in my project and am receiving an error `Cannot read properties of undefined (reading 'cards')` on calling the `addCard()` function. Details are as follows:

The `ControlledBoard`:
[code]

I have adhered to the docs to the best of my understanding, Please let me know what is/could be going wrong.
- `addCard` API
![image](https://user-images.githubusercontent.com/23122

[2022-08-31 06:16] brenfreeze opened #476 "Not Working on React 18"
I tried using it on our nextjs project that has react v18.2.0. Drag is not working.

[Here's a codesandbox link replicating the issue](https://codesandbox.io/s/intelligent-allen-pwcvk8?file=/src/index.js)

[2022-09-02 16:31] waelma opened #477 "Not working on react 18 !!!"

[2022-09-13 17:11] quenginedev commented on #444
A column wrapper will be nice to have since I want to functionality to load more cards when I reach the end or bottom of a column

[2022-09-23 03:14] allestaire opened #478 "Documentation is not consistent"
So I found out the that documentation is not consistent for example the `onColumnDragEnd` documented that as 4 argument but when you test it, it only has 3 arg which are, column, source and destination

**onColumnDragEnd**
When the user moves a column, this callback will be called passing these parameters:

**Arg** | **Description**
--------|----------------
column | The moved column
source | An o

[2022-09-24 07:51] ducgiangtrankma commented on #463
@agitanggriawan  How did you solve this problem?

[2022-10-06 00:15] alexchantastic commented on #476
It should work if if you remove `StrictMode`. Not ideal, but a quick fix until React 18 compatibility is added.

[2022-10-06 00:15] alexchantastic commented on #477
It should work if if you remove `StrictMode`. Not ideal, but a quick fix until React 18 compatibility is added.

[2022-10-08 12:22] #431 closed

[2022-10-08 12:22] #435 closed

[2022-10-08 12:22] #438 closed

[2022-10-08 12:22] #439 closed

[2022-10-08 12:22] #444 closed

[2022-10-08 12:22] #448 closed

[2022-10-08 12:22] #449 closed

[2022-10-08 12:22] #453 closed

[2022-10-08 12:22] #457 closed

[2022-10-08 12:22] #459 closed

[2022-10-08 12:22] #461 closed

[2022-10-08 12:22] #462 closed

[2022-10-08 12:22] #463 closed

[2022-10-08 12:22] #465 closed

[2022-10-08 12:22] #466 closed

[2022-10-08 12:22] #468 closed

[2022-10-08 12:22] #469 closed

[2022-10-08 12:22] #470 closed

[2022-10-08 12:22] #472 closed

[2022-10-08 12:22] #474 closed

[2022-10-08 12:22] #475 closed

[2022-10-08 12:22] #476 closed

[2022-10-08 12:22] #477 closed

[2022-10-08 12:22] #478 closed

[2022-10-08 12:22] #17 closed

[2022-10-08 12:22] #97 closed

[2022-10-08 12:22] #115 closed

[2022-10-08 12:22] #140 closed

[2022-10-08 12:22] #179 closed

[2022-10-08 12:22] #257 closed

[2022-10-08 12:22] #289 closed

[2022-10-08 12:22] #312 closed

[2022-10-08 12:22] #319 closed

[2022-10-08 12:22] #320 closed

[2022-10-08 12:22] #332 closed

[2022-10-08 12:22] #341 closed

[2022-10-08 12:22] #351 closed

[2022-10-08 12:22] #395 closed

[2022-10-08 12:22] #397 closed

[2022-10-08 12:22] #401 closed

[2022-10-08 12:22] #403 closed

[2022-10-08 12:22] #404 closed

[2022-10-08 12:22] #424 closed